<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

<system.serviceModel>
    <services>
      <service name="WCFFaults.SimpleCalculator" behaviorConfiguration="mexBehavior">
        <endpoint address="SimpleCalculator_Ws" binding="wsHttpBinding" contract="WCFFaults.ISimpleCalculator"></endpoint>
        <endpoint address="SimpleCalculator_Basic" binding="basicHttpBinding" contract="WCFFaults.ISimpleCalculator"></endpoint>
        <endpoint address="SimpleCalculator" binding="netTcpBinding" contract="WCFFaults.ISimpleCalculator"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:5000/"/>
            <add baseAddress="net.tcp://localhost:5001/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="WCFFaults.ComplexCalculator" behaviorConfiguration="mexBehavior">
        <endpoint address="SimpleCalculator_Ws" binding="wsHttpBinding" contract="WCFFaults.IComplexCalculator"></endpoint>
        <endpoint address="SimpleCalculator_Basic" binding="basicHttpBinding" contract="WCFFaults.IComplexCalculator"></endpoint>
        <endpoint address="SimpleCalculator" binding="netTcpBinding" contract="WCFFaults.IComplexCalculator"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:5002/"/>
            <add baseAddress="net.tcp://localhost:5003/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>