<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISimpleCalculator" />
                <binding name="BasicHttpBinding_IComplexCalculator" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISimpleCalculator">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IComplexCalculator">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ISimpleCalculator" />
                <binding name="WSHttpBinding_IComplexCalculator" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5000/SimpleCalculator_Ws"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISimpleCalculator"
                contract="SimpleCalculatorService.ISimpleCalculator" name="WSHttpBinding_ISimpleCalculator">
                <identity>
                    <userPrincipalName value="OWNER\verlo" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:5000/SimpleCalculator_Basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISimpleCalculator"
                contract="SimpleCalculatorService.ISimpleCalculator" name="BasicHttpBinding_ISimpleCalculator" />
            <endpoint address="net.tcp://localhost:5001/SimpleCalculator"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISimpleCalculator"
                contract="SimpleCalculatorService.ISimpleCalculator" name="NetTcpBinding_ISimpleCalculator">
                <identity>
                    <userPrincipalName value="OWNER\verlo" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:5002/SimpleCalculator_Ws"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IComplexCalculator"
                contract="ComplexCalculatorService.IComplexCalculator" name="WSHttpBinding_IComplexCalculator">
                <identity>
                    <userPrincipalName value="OWNER\verlo" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:5002/SimpleCalculator_Basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IComplexCalculator"
                contract="ComplexCalculatorService.IComplexCalculator" name="BasicHttpBinding_IComplexCalculator" />
            <endpoint address="net.tcp://localhost:5003/SimpleCalculator"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IComplexCalculator"
                contract="ComplexCalculatorService.IComplexCalculator" name="NetTcpBinding_IComplexCalculator">
                <identity>
                    <userPrincipalName value="OWNER\verlo" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>